@font-face {
	font-family: "Ardagh";
	src: url("fonts/Ardagh.ttf") format("truetype");
}

:root {
	--primary-font: Ardagh;
	--primary-color: black;
	--secondary-color: gold;
	--third-color: orange;
}

/* reset */

body,
h1,
ul,
p {
	margin: 0;
}

ul {
	list-style: none;
}

/* fin reset */

body {
	font-family: var(--primary-font);
}

main {
	background: url(https://images.affiches-et-posters.com//albums/3/2897/medium/IE8950.jpg) no-repeat fixed center center;
	background-size: cover;
	min-height: 100vh;
	padding: 1rem;
}

header,
footer {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	padding: 0.5rem;
}

footer a {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#personnages {
	text-align: center;
}

#personnage img,
#personnages img {
	padding-bottom: auto;
	background-color: var(--primary-color);
	width: 225px;
}

#personnage ul,
#personnages li,
#personnages a {
	display: inline-block;
}

#personnage li,
#personnage img,
#personnages img,
#story p {
	border: solid 3px var(--secondary-color);
	border-radius: 1rem;
}
#personnage li,
#story p {
	padding: 0.25rem;
	background-color: white;
}
#story h2,
a:hover {
	color: var(--secondary-color);
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

.container {
	margin-left: 10%;
	margin-right: 10%;
}
