<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/styles.css" />
		<title>Seigneur des anneaux - Frodon</title>
	</head>
	<body>
		<header>
			<h1>Frodon</h1>
		</header>
		<main>
			<section class="container" id="personnage">
				<img src="../img/frodon.png" alt="Frodon" />
				<ul>
					<li><p>Nom : Frodon</p></li>
					<li><p>Race : Hobbit</p></li>
					<li><p>métier: Jardinier</p></li>
				</ul>
			</section>
			<section class="container" id="story">
				<article>
					<h2>Histoire</h2>
					<p>
						Frodon Sacquet (Frodo Baggins en version originale, ou encore Frodo Bessac dans la traduction de Daniel Lauzon et Christian Bourgois), est un Hobbit. Il est le personnage principal de la
						trilogie Le Seigneur des Anneaux, publiée entre 1954 et 1955 par l'auteur anglais J. R. R. Tolkien. Sa mission est de transporter un anneau maléfique, appelé Anneau unique, jusqu'à
						Orodruin, la Montagne du Destin située en Mordor, pour le détruire, car son créateur,le Maiar Sauron, veut l'utiliser pour soumettre tous les peuples libres de la Terre du Milieu à sa
						volonté. Il fait donc partie de la Communauté de l'Anneau.
					</p>
				</article>
			</section>
		</main>
		<footer>
			<nav>
				<h3>Voir les autres personnages :</h3>
				<a href="gandalf.html">Gandalf</a>
				<a href="gollum.html">Gollum</a>
				<a href="legolas.html">Legolas</a>
				<a href="gimli.html">Gimli</a>
			</nav>
		</footer>
	</body>
</html>
