<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/styles.css" />
		<title>Seigneur des anneaux - Gandalf</title>
	</head>
	<body>
		<header>
			<h1>Gandalf</h1>
		</header>
		<main>
			<section class="container" id="personnage">
				<img src="../img/gandalf.png" alt="Gandalf" />

				<ul>
					<li><p>Nom : Gandalf</p></li>
					<li><p>Race : Humain</p></li>
					<li><p>Métier: Magicien</p></li>
				</ul>
			</section>

			<section class="container" id="story">
				<article>
					<hr />
					<h2>Histoire</h2>
					<p id="story">
						Gandalf le Gris, plus tard connu sous le nom de Gandalf le Blanc, et initialement nommé Olórin (en quenya) ou Mithrandir (en sindarin), était un Istar (Magicien), envoyé sur la Terre du
						Milieu au Troisième Âge pour combattre la menace de Sauron. Il a rejoint la Compagnie de Thorin pour récupérer la Montagne Solitaire des griffes du dragon Smaug, a convoqué la Communauté
						de l'Anneau pour détruire l'Anneau Unique et a dirigé les Peuples Libres durant la Guerre de l'Anneau. L’âge de Gandalf est estimé à 9 000 ans à l’époque de La Guerre de l’Anneau.
					</p>
				</article>
			</section>
		</main>

		<footer>
			<nav>
				<h3>Voir les autres personnages :</h3>
				<a href="gollum.html">Gollum</a>
				<a href="frodon.html">Frodon</a>
				<a href="legolas.html">Legolas</a>
				<a href="gimli.html">Gimli</a>
			</nav>
		</footer>
	</body>
</html>
