<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<h1>Gimli</h1>
		</header>
		<main>
			<section>
				<img src="img/gimli.jpg" alt="Gimli" />
				<ul>
					<li><p>Nom : Gimli</p></li>
					<li><p>Race : Nain</p></li>
					<li><p>métier: Forgeron</p></li>
				</ul>
			</section>
			<section>
				<article>
					<h2>Histoire</h2>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea consectetur nobis reprehenderit? Repudiandae natus similique doloremque velit vero dolores exercitationem, dolorem ad, placeat
						voluptate sint atque itaque animi, cumque fugiat magnam saepe! Aperiam dolorum ratione laborum dolores beatae corporis natus saepe? Expedita, modi esse autem provident in nam. Molestias
						voluptatum eligendi magnam rem ea, omnis ratione suscipit odio sapiente qui distinctio, fugiat dicta neque vel nam velit hic obcaecati animi quidem voluptas! Corporis, nemo dicta commodi
						aliquid eos ullam est similique nihil distinctio laboriosam sunt in, cupiditate cumque magni quia, quae dolorem officia vero quis. Veniam totam consectetur accusantium atque, ducimus,
						ratione deleniti est nulla necessitatibus et doloremque commodi omnis. At ducimus quod est quas, quibusdam culpa molestias qui, quisquam cumque iste nulla veniam debitis dignissimos
						voluptate voluptatibus illo ullam iusto necessitatibus animi minus laborum corporis velit aspernatur. Tenetur ab ullam voluptate nisi nemo dolorum repellendus maxime, esse quo beatae!
						Officiis ut in voluptas, sint quod aspernatur iure illum autem necessitatibus quaerat ab expedita fugiat, consequatur alias perferendis at corrupti eaque fugit earum, voluptatem eveniet
						neque. Reiciendis, obcaecati minus asperiores unde eaque aspernatur laboriosam nobis? Officiis id quae, ea consectetur fuga quasi reprehenderit veniam non autem doloribus. Rerum accusamus
						pariatur quod laborum quibusdam id ratione alias facilis eius ipsum, beatae aliquid, vero distinctio incidunt impedit exercitationem delectus similique qui odio facere reiciendis? Magnam
						temporibus vel nisi delectus tempora recusandae deleniti quo, eum nesciunt perferendis est similique reprehenderit porro aliquam voluptatibus corporis enim consectetur facere cupiditate
						quas vitae unde iusto, aspernatur non. Reprehenderit nam, rem molestias libero, modi placeat expedita repellat corporis nemo ratione nostrum asperiores excepturi tenetur sapiente
						consequatur quam esse? Libero, ad mollitia? Minima perspiciatis neque ipsa, impedit omnis dicta quaerat, quisquam deleniti minus commodi adipisci necessitatibus cum totam, porro aut
						doloremque fuga placeat vero dolorum sequi amet nostrum eveniet? Reprehenderit, tempore? Excepturi unde aliquam earum culpa cum molestias blanditiis, suscipit modi ea porro veniam quia,
						fuga, consequatur libero velit voluptates enim dolorem ut provident aspernatur reiciendis. Autem, numquam impedit molestiae id eius consectetur similique aspernatur, labore atque ratione
						voluptate aliquam dolores quibusdam perspiciatis iste, facere nisi architecto est vitae quae error magnam optio repudiandae. Tempore illum veritatis facere provident fugit atque deleniti,
						odio animi accusamus explicabo, tempora consequuntur at officiis neque repellat ad aut. Praesentium natus dolor, labore saepe cumque dolorem quos expedita vitae accusantium nemo debitis,
						facere quas, consequatur aspernatur ipsa obcaecati accusamus quo quis! Laborum magnam iste unde consectetur architecto maiores voluptates id? Accusantium harum voluptatibus suscipit,
						aliquid necessitatibus sed quisquam itaque repellendus enim culpa exercitationem assumenda nobis consequatur nam, nostrum odit ea amet, ab possimus fugit? Eligendi aliquid, quidem
						dignissimos ut cupiditate minus atque, fugit veniam voluptatibus temporibus sunt reprehenderit, reiciendis impedit? Obcaecati vitae non sunt itaque ut soluta inventore ab commodi similique
						nihil rem consequuntur reprehenderit asperiores odit labore voluptatem quod ad a dolorem, sit provident nisi? Enim obcaecati qui sint laborum ipsum consequatur delectus numquam. Voluptatem
						ullam deserunt voluptatibus, nam animi velit, recusandae similique temporibus repudiandae numquam ipsam enim eum ipsum at facilis?
					</p>
				</article>
			</section>
		</main>
		<footer>
			<nav>
				<a href="gandalf.html">Gandalf</a>
				<a href="gollum.html">Gollum</a>
				<a href="frodon.html">Frodon</a>
				<a href="legolas.html">Legolas</a>
			</nav>
		</footer>
	</body>
</html>
