<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/styles.css" />
		<title>Seigneur des anneaux - Gimli</title>
	</head>
	<body>
		<header>
			<h1>Gimli</h1>
		</header>
		<main>
			<section class="container" id="personnage">
				<img src="../img/gimli.png" alt="Gimli" />
				<ul>
					<li><p>Nom : Gimli</p></li>
					<li><p>Race : Nain</p></li>
					<li><p>métier: Forgeron</p></li>
				</ul>
			</section>

			<section class="container" id="story">
				<article>
					<h2>Histoire</h2>
					<p>Gimli est un nain, un des protagonistes du Seigneur des anneaux de J. R. R. Tolkien. Nain, fils de Glóin, il fait partie de la Communauté de l'Anneau.</p>
				</article>
			</section>
		</main>
		<footer>
			<nav>
				<h3>Voir les autres personnages :</h3>
				<a href="gandalf.html">Gandalf</a>
				<a href="gollum.html">Gollum</a>
				<a href="frodon.html">Frodon</a>
				<a href="legolas.html">Legolas</a>
			</nav>
		</footer>
	</body>
</html>
