<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/styles.css" />
		<title>Seigneur des anneaux - Gollum</title>
	</head>
	<body>
		<header>
			<h1>Gollum</h1>
		</header>
		<main>
			<section class="container" id="personnage">
				<img src="../img/gollum.png" alt="Gollum" />
				<ul>
					<li><p>Nom : Gollum</p></li>
					<li><p>Race : Hobbit</p></li>
					<li><p>métier: Magicien</p></li>
				</ul>
			</section>
			<section class="container" id="story">
				<article>
					<h2>Histoire</h2>
					<p>Né vers 2440 TA, Gollum est à l'origine un Hobbit. Il était autrefois dénommé Sméagol, issu de la branche des Forts, qui vivait sur les berges de l'Anduin, près des Champs aux Iris.</p>
				</article>
			</section>
		</main>
		<footer>
			<nav>
				<h3>Voir les autres personnages :</h3>
				<a href="gandalf.html">Gandalf</a>
				<a href="frodon.html">Frodon</a>
				<a href="legolas.html">Legolas</a>
				<a href="gimli.html">Gimli</a>
			</nav>
		</footer>
	</body>
</html>
