<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/styles.css">
		<title>Seigneur des anneaux - Legolas</title>
	</head>
	<body>
		<header>
			<h1>Legolas</h1>
		</header>
		<main>
			<section class="container" id="personnage">
				<img src="../img/legolas.png" alt="Legolas" />
				<ul>
					<li><p>Nom : Legolas</p></li>
					<li><p>Race : Elfe Sinda</p></li>
					<li><p>métier: Noble</p></li>
				</ul>
			</section>
			<section class="container" id="story">
				<article>
					<h2>Histoire</h2>
					<p>
						Legolas Vertefeuille est un Elfe Sinda qui faisait partie de la Communauté de l'Anneau au Troisième Âge. Fils du roi elfique Thranduil du Royaume Sylvestre, dont il était le prince, un
						messager et un maître archer. Avec sa vue perçante, son ouïe sensible et son excellente maîtrise de l'arc, Legolas a été précieux pour la Communauté durant la Quête de l'Anneau à travers
						la Terre du Milieu. Il était bien connu pour être devenu ami avec le nain Gimli, malgré leurs différences de longue date.
					</p>
				</article>
			</section>
		</main>
		<footer>
			<nav>
				<h3>Voir les autres personnages :</h3>
				<a href="gandalf.html">Gandalf</a>
				<a href="gollum.html">Gollum</a>
				<a href="frodon.html">Frodon</a>
				<a href="gimli.html">Gimli</a>
			</nav>
		</footer>
	</body>
</html>
